*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(25, 141, 25);
    width: 100%;
    height: 300px;
}
.footertitulo{
    font-size: large;
    font-family:'Roboto', sans-serif;
}
div h2{
    font-size: 50px;
    font-family:'Roboto', sans-serif;
}
div p{
    font-size: 30px;
    font-family:'Roboto', sans-serif;
}
.navBar{
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
}
.navBar li a:hover{
    color: #f8f9fa;
}
.textoNav p{
    font-size: 25px;
}
main{
    background-color: floralwhite;
    height: 100%;
    width: 100%;
    padding-bottom: 80px;
}
section.mainIndex{
    width: 100%;
    height: 900px;
}
.banner img{
    width: 100%;
    height: 600px;
    margin-top: 0px;
}
section h1{
    text-align: center;
    font-size: 60px;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 20px;
} 
.herbo{
    padding: 90px;
}
.herbo h1 a{
    font: size 90px;
    color: black; 
}
.botonesIndex a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
}
div.botonesIndex a:hover{
    font-size: 45px;
}
.botonesIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonHerbo{
    padding: 25px;
    margin-bottom: 30px;
    background-color: lightgreen;
    width: fit-content;
    border-radius: 50px;
}
.listado{
    padding: 30px;
}
.prepa{
    padding: 30px;
}
.textoCrema{
    background-color: lightgreen;
    width: fit-content;
    border-radius: 60px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
p.textoCrema {
    font-size: 30px;
}
p.textoGotas{
    font-size: 30px;
}
p.textoShampoos{
    font-size: 30px;
    margin-left: 120px;
}
.formulario{
    padding: 30px;
    width: 100%;
    height: 30px;
}
.botonprepa{
    padding: 25px;
    margin-bottom: 30px;
    background-color: lightgreen;
    width: fit-content;
    border-radius: 50px;
}
.botonperfu{
    padding: 25px;
    background-color:lightgreen;
    width: fit-content;
    border-radius: 50px;
    margin-bottom: 30px;
}
.botonesOtro{
    padding: 30px;
}
.botonotros{
    padding: 25px;
    background-color: lightgreen;
    width: fit-content;
    border-radius: 50px;
}
.botonInicioOtros{
    padding: 20px;
}
.botonInicioOtros a{
    font-size: 30px;
}
footer{
    background-color: lightgreen;
    width: 100%;
    height: 400px;
    padding-top: 20px;
}
footer section p{
    font-size: large;
    padding-left: 20px;
    font-size: 35px;
}
div img{
    display: flex;
    width: 150px;
    height: 150px;
}
div h3{
    font-size: 80px;
}
div p{
    font-size: 70px;
    letter-spacing: 8px;
}
.botonListado a{
    background-color: lightgreen;
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    width: fit-content;
    text-decoration: none;
    color: black;
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.imagenHierba img{
    margin: 30px;
    width: 350px;
    height: 670px;
}
.mainPerfu{
    width: 100%;
    height: 100vh;
}

.tituloPerfu h1{
    padding: 50px;
    font-size: 50px;
    font-family:'Roboto', sans-serif;
    text-align: center;
}
.perfumes img{
    margin-top: 90px;
    
    width: 300px;
    height: 300px;
}
section.perfu{
    margin-top: 50px;
}
.botonesPerfu a{
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    width: fit-content;
    border-radius: 50px;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.botonPerfu1{
    margin-bottom: 50px;
}
.botonInicioPrepa{
    padding: 30px;
}
.botonPerfu2{
    margin-bottom: 50px;
}
.botonPerfu3{
    margin-bottom: 50px;
}
.botonPerfu4{
    margin-bottom: 50px;
}
.botonInicio a img{
    background-color: lightgreen;
    text-decoration: none;
}
.imgOtros img{
    padding: 30px;
    margin-top: 90px;
    margin-right: 70px;
    width: 500px;
    height: 500px;
}
.imgOtros2 img{
    padding: 30px;
    margin-top: 50px;
    margin-right: 70px;
    margin-bottom: 70px;
    width: 500px;
    height: 500px;
}
.botonesOtro a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgreen;
}
.botiquin{
    margin-bottom: 50px;
}
.vendas{
    margin-bottom: 50px;
}
.tensiometro{
    margin-bottom: 50px;
}
.termometro{
    margin-bottom: 50px;
}
.balanzas{
    margin-bottom: 50px;
}
.nutricion{
    margin-bottom: 50px;
}
.crema img{
    padding-bottom: 50px;
    width: 500px;
    height: 500px;
}
.crema{
    padding-bottom: 100px;
}
.crema a{
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.textoGotas{
    background-color: lightgreen;
    width: fit-content;
    border-radius: 60px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.gotas img{
    padding-bottom: 50px;
    width: 500px;
    height: 500px;
}
.gotas a{
    font-size: 60px;
    text-decoration: none;
    color: black;
}
.shampoo img{
    padding-bottom: 50px;
    width:500px ;
    height: 500px;
}
.shampoo a{
    font-size: 60px;
    text-decoration: none;
    color: black;
}
.textoShampoos{
    background-color: lightgreen;
    width: fit-content;
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.shampoo{
    padding-top: 100px;
}
.formulario{
    margin-top: 100px;
    font-size: 40px;
}
.titOtros h1{
    font-size: 50px;
}
.titHeader h2{
    font-weight: bold;
}
.textoNav p{
    font-size: 25px;
    letter-spacing: 8px;
    margin-bottom: 0px;
}
header.headerHerbo{
    width: 100%px;
    height: 350px;
    margin: 0px;
}
main.mainHerbo{
    width: 100%px;
    height: 1700px;
    margin: 0px;
}
footer.footerHerbo{
    width: 100%px;
    height: 370px;
}
body.bodyHerbo{
    width: 100%px;
    height: 2370px;
    margin: 0px;
}

.botonInicio a{
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    border-radius: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.botonInicio{
    margin-top: 90px;
}

.herbo{
    padding: 30px;

}
.titPrep h1{
    padding: 50px;
    font-size: 50px;
    margin-top: 0px;
}
.titHerbo h1{
    font-size: 50px;
    padding: 30px;
}
.parrafoHerbo p{
    font-size: 35px;
}
.parrafoHerbo h3{
    font-size: 50px;
}
.container1{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.container1 div img{
    width: 200px;
    height: 200px;
}
.navBar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
}
.textoNav{
    display: flex;
    flex-direction: column;
}
.container-grid1{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer"
    ;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
footer{
    display: grid;
    grid-template-columns: 75% 25%;
    width: auto;
    height: auto;
}
.footerTexto p{
    display: flex;
    justify-content: left;
    padding-top: 20px
}
section.logos{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: end;
}
.mainIndex{
    display:grid;
    grid-template-columns: 1fr;
    justify-content:center;
    justify-items: center;
}
.botonesIndex{
    padding-top: 50px;
    gap: 35px;
}
.container-grid-herbo{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}
.imagenHierba{
    display: grid;
    justify-content: center;
}
.parrafoHerbo h3{
    font-family:'Roboto', sans-serif;
    font-size: 40px;
    display: grid;
    justify-content: center;
}
.parrafoHerbo p{
    display: flex;
    justify-content: center;
}
.botonListado{
    display: flex;
    justify-content: center;
}
.botonInicio{
    display: flex;
    justify-content: center;
}
.prepa{
    display: grid;
    justify-content: center;
}
.crema a{
    display: flex;
    justify-content: center;
}
.gotas a{
    display: flex;
    justify-content: center;
}

fieldset{
    font-size: 40px;
    height: 120px;
}
input{
    height: 40px;
}
input:focus{
    background-color: lightgreen;
}
.container-perfu{
    display: flex;
    justify-content: center;
}
.perfumes{
    display: flex;
    justify-content: center;
}
.botonesPerfu{
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: space-around;
    justify-items: center;
    row-gap: 30px;
}
header.headerOtros{
    width: 100%;
    height: 350px;
}
div.nav-otros ul li a{
    color: black;
    font-size: 30px;
    --bs-nav-link-hover-color: #f8f9fa;
}
div.nav-otros ul{
    display: flex;
    flex-direction: column;
}
div.botonInicioOtros a{
    font-size: 50px;
}
.nutricion{
    margin-bottom: 20px;
}
body.bodyOtros{
    font-family:'Roboto', sans-serif;
}





@media (max-width: 768px){
    .container-grid1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        width: 768px;
        height: 980px;
    }
    body{
        width: 768px;
        height: 1200px;
    }
    div.container1{
        display: flex;
        flex-direction: column;
        width: 768px;
        height: 350px;
    }
    header{
        width: 768px;
        height: 350px;
    }
    main{
        width:768px;
        height: 900px;
    }
    section.mainIndex{
        width: 768px;
        height: 350px;
    }
    section h1{
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .botonesIndex a{
        font-size: 20px;
        width: 768px;
        height: 600px;
    }
    .botonesIndex{
        row-gap: 10px;
    }
    footer{
        width: 768px;
        height: 250px;
    }
    div.imagenLogoHeader img{
        width: 100px;
        height: 100px;
    }
    .footerTexto p{
        font-size: 20px;
    }
    div img{
        width: 70px;
        height: 70px;
        margin-right:  0px;
    }
    section.logos{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80px;
        height: 80px;
    }
    div.footerWa{
        padding-bottom: 10px;
    }
    
    .footerTitulo{
        font-size: 10px;
    }
    div h2{
        font-size: 20px;
    }
    div.textoNav p{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .navBar li a{
        font-size: 15px;   
        font-weight: bolder; 
        color: #f8f9fa;

    }
    nav{
        display: flex;
        flex-direction: row;
        padding-top: 30px;
    }
    .navBar{
        display: flex;
        flex-direction: row;
    }
    section.banner img{
        width: 768px;
        height: 300px;
    }
}
@media (max-width:576px){

    body.bodyIndex{
        width: 576px;
        height: 900px;
    }
    .container-grid1{
        width: 576px;
        height: 900px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
    div.container-grid1{
        margin-right: 0pxS;
        width: 576px;
    }
    section.mainIndex{
        height: 600px;
        width: 576px;
        margin-right: 0px;
    }
    main.mainIndex2{
        width: 576px;
        height: 900px;
    }
    .container1{
        width: 576px;
        height: 280px;
        padding-top: 20px;
        padding-bottom: 0px;
        display: flex;
    }
    div.textoNav{
        display: flex;
    }
    ul.navBar{
        display: flex;
        flex-direction: row;
    }
    div.imagenLogoHeader{
        padding-bottom: 5px;
        display: flex;
        flex-direction: row;
    }
    div.titIndexHeader{
        display: flex;
    }
    header{
        width: 576px;
        height: 300px;
        display: flex;
    }
    section.banner img{
        width: 576px;
        height: 200px;
    }
    main.mainIndex{
        width: 576px;
        height: 900px;
        margin-top: 0px;
    }
    footer{
        width: 576px;
        height: 250px;
    }
    .botonesIndex a{
        font-size: 20px;
        padding: 8px;
    }
    .botonesIndex{
        margin-bottom: 20px;
    }
    section h1{
        font-size: 40px;
    }
    .footerTexto p{
        font-size: 15px;
    }
    .footerWa img{
        width: 70px;
        height: 70px;
        display: flex;
    }
    .footerFa img{
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 768px){
    
    
    div h2{
        font-size: 20px;
        font-weight: bolder;
    }
    div.textoNav p{
        font-size: 20px;
        letter-spacing: 2px;
    }
    div.nav-otros ul li a{
        font-size: 20px;
        font-weight: bold;
        color: #f8f9fa;
    }
    div.nav-otros{
        display: flex;
        flex-direction: row;
    }
    .containerOtros div  img{
        width: 100px;
        height: 100px;
    }
    div.containerOtros{
        display: flex;
        flex-direction: column;
        width: 768px;
        height: 200px;
        padding: 20px;
    }
    
    section.sectionBotonesOtros{
        width: 768px;
        height: 500px;
    }
    div.titOtros h1{
        font-size: 30px;
        font-weight: bold;
        margin-top: 5px;
        padding-top: 5px;
    }
    body.bodyOtros{
        width: 768px;
        height: 980px;
    }
    .container1{
        display: flex;
        flex-direction: column;
    }
    .botonesOtro a{
        font-size: 20px;
        padding: 10px;
    }
    div.botonesOtro{
        width: 768px;
        height: 300px;
        padding: 0px;
        margin: 0px;
    }
    .botiquin {
        margin-top: 30px;
        margin-bottom: 8px;
    }
    .vendas{
        margin-bottom: 8px;
    }
    .tensiometro{
        margin-bottom: 8px;
    }
    .termometro{
        margin-bottom: 8px;
    }
    .balanzas{
        margin-bottom: 8px;
    }
    .nutricion{
        margin-bottom: 8px;
    }
    div.botonInicioOtros a{
        font-size: 20px;
        padding: 10px;
    }
    .container1 div img{
        width: 80px;
        height: 80px;
    }
    .imagenLogoHeader{
        display: flex;
    }
    .imgOtros img{
        width: 100px;
        height: 100px;
        margin: 5px;
        padding: 5px;
        
    }
    .imgOtros2 img{
        width: 100px;
        height: 100px;
        margin: 5px;
        padding: 5px;
    }
    .container-perfu{
        width: 768px;
        height: 900px;
    }
    main{
        width: 768px;
        height: 900px;
    }
    .tituloPerfu h1{
        font-size: 30px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .tituloPerfu{
        display: flex;
        justify-content: center;
        padding-top: 40px;
        
    }
    .perfumes img{
        width: 250px;
        height: 250px;
        margin-left: 0px;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    div.perfumes{
        display: flex;
    }
    
    .botonesPerfu a{
        font-size: 20px;
        row-gap: 20px;
    }
    .botonInicioPerfu a{
        font-size: 20px;
        padding: 20px;
    }
    div.botonInicioOtros a{
        font-size: 30px;
        padding: 8px;
    }
    div.botonInicioOtros{
        margin-top: 40px;
        padding-right: 0px;

    }
}
@media (max-width: 576px){
    body.bodyOtros{
        width: 576px;
        height: 1000px;
    }
    
    div.container1{
        width: 576px;
        height: 300px;
    }
    header.headerOtros{
        width: 576px;
        height: 350px;
        margin-right: 0px;
    }
    main.mainOtros{
        width: 576px;
        height: 900px;
        margin: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }
    div.nav-otros ul li a{
        font-size: 10px;
    }
    div.nav-otros ul li a{
        display: flex;
        flex-direction:row;
    }
    ul.navBar{
        padding-right: 5px;
    }
    section.sectionBotonesOtros{
        width: 576px;
        height: 400px;
    }
    .perfumes img{
        width: 250px;
        height: 270px;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    div.botonesOtro a{
        font-size: 20px;
        padding: 10px;
        row-gap: 10px;
        margin: 0px;
    }
    div.botonesOtro{
        width: 576px;
        height: 400px;
        margin-right: 0px;
    }
    .botiquin{
        margin-top: 0px;
    }
    .vendas{
        margin-top: 0px;
    }
    div.botonInicio{
        margin-top: 40px;
    }
    footer{
        width: 576px;
        height: 200px;
        padding-top:0px;
        margin-right: 0px;
        display: flex;
        align-items: center;
    }
    .botonPerfu4{
        margin-bottom: 20px;
    }
    div.footerWa{
        padding-bottom: 5px;
    }
    div.textoNav p{
        font-size: 15px;
        letter-spacing: 1px;
    }
    section.logos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section.sectionFotos{
        width: 576px;
        padding-right: 0px;
    }
    div.imgOtro{
        padding-right: 0px;
    }
}








































