* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

header {
  background-color: #198d19;
  width: 100%;
  height: 200px; }
  header h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif; }

.container1 {
  display: flex;
  justify-content: space-between;
  padding: 30px; }
  .container1 div img {
    width: 100px;
    height: 100px;
    display: flex; }

.textoNav p {
  font-size: 10px;
  letter-spacing: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif; }

.navBar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px; }
  .navBar li {
    list-style: none; }
    .navBar li a {
      text-decoration: none;
      color: black;
      font-size: 15px;
      font-family: 'Roboto', sans-serif; }
      .navBar li a:hover {
        color: #f8f9fa; }

div.titIndexHeader {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold; }

main {
  background-color: floralwhite;
  height: 100%;
  width: 100%;
  padding-bottom: 80px;
  margin-top: 0px;
  width: 100%;
  height: 1200px; }

section.mainIndex {
  width: 100%;
  height: 900px; }
  section.mainIndex h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 20px; }

section.banner img {
  width: 100%;
  height: 600px;
  margin-top: 0px;
  border-radius: 60px; }

.botonesIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px; }
  .botonesIndex a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; }
    .botonesIndex a:hover {
      font-size: 40px; }

.botonprepa, .botonHerbo, .botonperfu, .botonotros {
  padding: 25px;
  margin-bottom: 30px;
  background-color: lightgreen;
  width: fit-content;
  border-radius: 50px; }

main.mainPreparados {
  width: 100%;
  height: 1400px; }

section div.titPrep h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 50px; }

section.prepa {
  display: grid;
  justify-content: center;
  justify-items: start;
  padding: 30px; }

.crema {
  padding-bottom: 50px; }
  .crema img {
    width: 200px;
    height: 200px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 60px; }
    .crema img a {
      display: flex;
      justify-content: center;
      font-size: 20px; }

div.crema a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif; }

.textoCrema, .textoGotas, .textoShampoos {
  display: flex;
  background-color: lightgreen;
  width: fit-content;
  border-radius: 50px;
  padding: 20px; }
  .textoCrema p, .textoGotas p, .textoShampoos p {
    font-size: 20px; }

.gotas {
  padding-bottom: 50px; }
  .gotas img {
    width: 200px;
    height: 200px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 60px; }
    .gotas img a {
      display: flex;
      justify-content: center;
      font-size: 20px; }

div.gotas a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif; }

.shampoo img {
  width: 200px;
  height: 200px;
  display: flex;
  margin-bottom: 20px;
  border-radius: 60px; }
  .shampoo img a {
    display: flex;
    justify-content: center;
    font-size: 20px; }

div.shampoo a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif; }

.formulario {
  margin-top: 20px;
  font-size: 20px;
  padding: 20px;
  width: 100%;
  height: 30px; }

.botonInicioPrepa {
  padding: 20px;
  margin-top: 70px; }

.botonInicio {
  display: flex;
  justify-content: center; }
  .botonInicio a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    padding: 20px;
    background-color: lightgreen;
    font-family: 'Roboto', sans-serif;
    width: fit-content; }

main.mainPerfumeria {
  width: 100%;
  height: 1250px;
  background-color: floralwhite; }

main {
  grid-area: main; }

div.tituloPerfu h1 {
  padding: 50px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.perfumes {
  display: flex;
  justify-content: center; }
  .perfumes img {
    margin-top: 5px;
    width: 300px;
    height: 300px;
    border-radius: 60px; }

.botonesPerfu {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: space-around;
  justify-items: center;
  row-gap: 60px; }
  .botonesPerfu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    padding: 20px;
    background-color: lightgreen;
    font-family: 'Roboto', sans-serif;
    width: fit-content; }
    .botonesPerfu a:hover {
      font-size: 40px; }

section.perfu {
  margin-top: 40px;
  margin-bottom: 40px; }

main.mainHerbo {
  width: 100%;
  height: 1560px; }

.imagenHierba {
  display: grid;
  justify-content: center; }
  .imagenHierba img {
    margin: 30px;
    width: 300px;
    height: 370px;
    border-radius: 60px; }

.herbo {
  padding: 30px; }

.titHerbo h1 {
  font-size: 30px;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 25px;
  text-align: center; }

.parrafoHerbo h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: grid;
  justify-content: center; }

.parrafoHerbo p {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  letter-spacing: 4px;
  color: #198d19;
  display: flex;
  justify-content: center; }

.botonListado {
  margin-bottom: 20px;
  display: flex;
  justify-content: center; }
  .botonListado a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    padding: 20px;
    background-color: lightgreen;
    font-family: 'Roboto', sans-serif;
    width: fit-content; }

main.mainOtros {
  width: 100%;
  height: 1300px; }
  main.mainOtros div.titOtros {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    main.mainOtros div.titOtros h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      font-weight: bold;
      padding-top: 20px; }
  main.mainOtros .botonesOtro {
    text-align: center;
    padding: 30px; }
    main.mainOtros .botonesOtro a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      border-radius: 50px;
      padding: 20px;
      background-color: lightgreen;
      font-family: 'Roboto', sans-serif;
      width: fit-content; }
      main.mainOtros .botonesOtro a:hover {
        font-size: 40px; }
  main.mainOtros .botiquin {
    margin-bottom: 50px; }
  main.mainOtros .vendas {
    margin-bottom: 50px; }
  main.mainOtros .tensiometro {
    margin-bottom: 50px; }
  main.mainOtros .termometro {
    margin-bottom: 50px; }
  main.mainOtros .balanzas {
    margin-bottom: 50px; }

div.imgOtros {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  div.imgOtros img {
    padding: 30px;
    width: 250px;
    height: 250px;
    border-radius: 60px; }

.imgOtros2 {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .imgOtros2 img {
    padding: 30px;
    width: 250px;
    height: 250px;
    border-radius: 60px; }

footer {
  background-color: lightgreen;
  width: 100%;
  height: 300px;
  padding-top: 20px;
  display: grid;
  grid-area: footer;
  grid-template-columns: 75% 25%; }
  footer .footerTexto {
    margin-left: 50px; }
    footer .footerTexto p {
      display: flex;
      justify-content: left;
      padding-top: 20px;
      font-family: 'Roboto', sans-serif; }
  footer section.logos {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: end;
    margin-right: 50px; }
    footer section.logos div.footerWa img {
      display: flex;
      width: 100px;
      height: 100px; }
    footer section.logos div.footerFa img {
      display: flex;
      width: 100px;
      height: 100px;
      margin-bottom: 15px; }

@media (max-width: 768px) {
  body.bodyIndex {
    width: 768px;
    height: 1200px; }
  header {
    width: 768px;
    height: 300px; }
  div.container1 {
    width: 768px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    div.container1 img {
      width: 80px;
      height: 80px; }
  div.titIndexHeader h2 {
    font-size: 20px;
    font-weight: bolder; }
  .textoNav p {
    font-size: 20px;
    letter-spacing: 2px; }
  .navBar {
    display: flex;
    flex-direction: row;
    padding-top: 30px; }
  .navBar li a {
    font-size: 15px;
    font-weight: bolder;
    color: #f8f9fa; }
  section.banner img {
    width: 100%;
    height: 300px; }
  section.mainIndex h1 {
    font-size: 30px; }
  .titHerbo h1 {
    font-size: 30px; }
  .parrafoHerbo p {
    font-size: 20px; }
  .titOtros h1 {
    font-size: 30px; }
  .titHeader h2 {
    font-weight: bold;
    font-size: 20px; } }

@media (max-width: 576px) {
  body.bodyIndex {
    width: 576px;
    height: 900px; }
  header {
    width: 576px;
    height: 300px;
    display: flex; }
    header div.container1 {
      width: 576px;
      height: 300px; }
      header div.container1 h2 {
        font-size: 20px;
        font-weight: bold; }
  footer div.footerTexto {
    margin-top: 20px;
    margin-left: 20px; }
  footer section.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .parrafoHerbo p {
    font-size: 15px;
    letter-spacing: 1px; } }
