@mixin prop-img-prep {
    width: 200px;
    height: 200px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 60px;
}
@mixin prop-botones{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    padding: 20px;
    background-color: lightgreen;
    font-family:'Roboto', sans-serif;
    width: fit-content;
    
}
@mixin prop-img-otros {
    padding: $pad30;
    width: 250px;
    height: 250px;
    border-radius: 60px;
}