main.mainHerbo{
    width: 100%;
    height: 1560px;
}
.imagenHierba{
    display: grid;
    justify-content: center;
    img{
    margin: 30px;
    width: 300px;
    height: 370px;
    border-radius: 60px;
    }
}
.herbo{
    padding: $pad30;
}
.titHerbo h1{
    font-size: $medida-titulos-main;
    padding: $pad30;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}
.parrafoHerbo h3{
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    display: grid;
    justify-content: center;  
}
.parrafoHerbo p{
    font-family:'Roboto', sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    color:  rgb(25, 141, 25);
    display: flex;
    justify-content: center;
}
.botonListado{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    a{
     @include prop-botones;   
}

}