@media (max-width:576px){
    body.bodyIndex{
        width: 576px;
        height: 900px;
    }
    header{
        width: 576px;
        height: 300px;
        display: flex;
        div.container1{
            width: 576px;
            height: 300px;
            h2{
                font-size: 20px;
                font-weight: bold;
            }
    }
}
footer{
    div.footerTexto{
        margin-top: 20px;
        margin-left: 20px;
    }
    section.logos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}
.parrafoHerbo p{
    font-size: 15px;
    letter-spacing: 1px;
}
}