@media (max-width: 576px){
    header{
        width: 100%;
        height: 300px;
    }
    main.mainIndex2{
        width: 576px;
        height: 900px;
    }
    body.bodyIndex{
        width: 576px;
        height: 1200px;
    }
    .botonesIndex a{
        font-size: 20px;
    }
    main.mainHerbo{
        width: 100%;
        height: 1560px;
    }
    div.textoNav p{
        font-size: 15px;
        letter-spacing: 1px;
    }
    .imagenHierba img{
        width: 150px;
        height: 170px;
    }
    div.parrafoHerbo h3{
        font-size: 20px;
    }
    .botonListado a{
        font-size: 15px;
    }
}