@media (max-width:576px){
    body.bodyIndex{
        width: 576px;
        height: 900px;
    }
    header{
        width: 576px;
        height: 300px;
        display: flex;
        div.container1{
            width: 576px;
            height: 300px;
            h2{
                font-size: 20px;
                font-weight: bold;
            }
    }
    div.textoNav p{
        font-size: 15px;
        letter-spacing: 1px;
    }
}
section.mainIndex{
    width: 576px;
}
main.mainHerbo{
    width: 576px;
}
main.mainPreparados{
    width: 576px;
}
main.mainOtros{
    width: 576px;
}
footer{
    width: 576px;
    div.footerTexto{
        margin-top: 20px;
        margin-left: 20px;
    }
    section.logos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div.footerWa{
        margin-bottom: 25px;
        img{
            width: 70px;
            height: 70px;
        }
        }   
        div.footerFa img{
            width: 70px;
            height: 70px;
        }

    }
}
.parrafoHerbo p{
    font-size: 15px;
    letter-spacing: 1px;
}
.botonListado a{
    font-size: 15px;
}
main.mainPerfumeria{
    width: 576px;
}
}